<!--İÇERİK-->
<section id="content-index " class="mt-5 py-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/img/image/blog/togg.jpg" class="img-fluid p-5 wow fadeInLeft" alt="">
        </div>
        <div class="col-lg-6">
            <div class="icerik pt-3">
                <p class="text-muted wow fadeInRight">ARABA</p>
                <h2 class="font-weight-bold mt-2 mb-4 wow fadeInRight">TOGG UZUN MENZİLİ İLE ŞAŞIRTTI</h2>
                <p class="text-muted wow fadeInRight">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut impedit illo quas, fugit laboriosam mollitia repellendus voluptate commodi fugiat, sit est nisi porro odit neque, reiciendis voluptas facere adipisci nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eveniet possimus quas! Architecto, reprehenderit numquam. Nostrum obcaecati accusamus maxime sequi provident consectetur error? Fuga dolorum debitis officia adipisci cum perferendis.</p>
                <button class="btn btn-secondary btn-lg wow fadeInRight" type="button">Devamını Oku</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="~/img/image/blog/chatgpt.jpg" class="img-fluid p-5 wow fadeInLeft" alt="">
        </div>
        <div class="col-lg-6">
            <div class="icerik pt-3">
                <p class="text-muted wow fadeInRight">TEKNOLOJİ</p>
                <h2 class="font-weight-bold mt-2 mb-4 wow fadeInRight">CHATGBT TIP UZMANLIK SINAVINI GEÇTİ</h2>
                <p class="text-muted wow fadeInRight">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut impedit illo quas, fugit laboriosam mollitia repellendus voluptate commodi fugiat, sit est nisi porro odit neque, reiciendis voluptas facere adipisci nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eveniet possimus quas! Architecto, reprehenderit numquam. Nostrum obcaecati accusamus maxime sequi provident consectetur error? Fuga dolorum debitis officia adipisci cum perferendis.</p>
                <button class="btn btn-secondary btn-lg wow fadeInRight" type="button">Devamını Oku</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="~/img/image/blog/nvidia.png" class="img-fluid p-5 wow fadeInLeft" alt="">
        </div>
        <div class="col-lg-6">
            <div class="icerik pt-3">
                <p class="text-muted wow fadeInRight">TEKNOLOJİ</p>
                <h2 class="font-weight-bold mt-2 mb-4 wow fadeInRight">NVIDIA' NIN SON ÇIKARDIĞI EKRAN KARTI</h2>
                <p class="text-muted wow fadeInRight">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut impedit illo quas, fugit laboriosam mollitia repellendus voluptate commodi fugiat, sit est nisi porro odit neque, reiciendis voluptas facere adipisci nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eveniet possimus quas! Architecto, reprehenderit numquam. Nostrum obcaecati accusamus maxime sequi provident consectetur error? Fuga dolorum debitis officia adipisci cum perferendis.</p>
                <button class="btn btn-secondary btn-lg wow fadeInRight" type="button">Devamını Oku</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="~/img/image/blog/karadelik.jpg" class="img-fluid p-5 wow fadeInLeft" alt="">
        </div>
        <div class="col-lg-6">
            <div class="icerik pt-3">
                <p class="text-muted wow fadeInRight">UZAY VE HAVACILIK</p>
                <h2 class="font-weight-bold mt-2 mb-4 wow fadeInRight">KARADELİK JETLERİNDEN YAYILAN X IŞINLARINDA ÖNEMLİ KEŞİF</h2>
                <p class="text-muted wow fadeInRight">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut impedit illo quas, fugit laboriosam mollitia repellendus voluptate commodi fugiat, sit est nisi porro odit neque, reiciendis voluptas facere adipisci nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eveniet possimus quas! Architecto, reprehenderit numquam. Nostrum obcaecati accusamus maxime sequi provident consectetur error? Fuga dolorum debitis officia adipisci cum perferendis.</p>
                <button class="btn btn-secondary btn-lg wow fadeInRight" type="button">Devamını Oku</button>
            </div>
        </div>
    </div>
</section>

<!-- İçerik Sonu -->
<!-- jQuery first, then Popper.js, then Bootstrap JS, then Wow JS -->
<script src="script/jquery.js" type="text/JavaScript"></script>
<script src="script/popper.min.js" type="text/JavaScript"></script>
<script src="script/bootstrap.js" type="text/JavaScript"></script>
<!-- Animation -->
<script src="script/wow.js"></script>
<script>new WOW().init();</script>