<section class="kalite text-center">
    <div class="row mt-5">
        <div class="col-lg-12">
            <img class="w-100 img-fluid wow zoomIn" src="~/img/newbanner.png" alt="">
        </div>
    </div>
</section> &nbsp;
<section id="haberler" class="my-5 py-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 text-center mx-auto pb-5 wow zoomIn">
            <img src="~/img/image/blog/chatgpt.jpg" class="img-fluid img-haberler" alt="">
            <h5 class="font-weight-bold">CHATGBT'NİN YENİ ÖZELLİĞİ ŞAŞIRTTI</h5>
            <p class="text-muted">Blog Detayları</p>
            <a href="#" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-4 col-md-6 text-center mx-auto pb-5 wow zoomIn">
            <img src="~/img/image/blog/togg.jpg" class="img-fluid img-haberler" alt="">
            <h5 class="font-weight-bold">MİLLİ ARACIMIZ TOGG'UN DETAYLI İNCELEMESİ</h5>
            <p class="text-muted">Blog Detayları</p>
            <a href="#" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-4 col-md-6 text-center mx-auto pb-5 wow zoomIn">
            <img src="~/img/image/blog/nvidia.png" class="img-fluid img-haberler" alt="">
            <h5 class="font-weight-bold">NVIDIA YENİ ÜRÜNÜYLE KENDİNİ AŞTI</h5>
            <p class="text-muted">Blog Detayları</p>
            <a href="#" class="btn btn-info">Detaylar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 text-center mx-auto pb-5 wow zoomIn">
            <img src="~/img/image/vertical/vertical (1).jpg" class="img-fluid img-haberler" alt="">
            <h5 class="font-weight-bold">BLOG YAZMANIN 5 FAYDASI</h5>
            <p class="text-muted">Blog Detayları</p>
            <a href="#" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-4 col-md-6 text-center mx-auto pb-5 wow zoomIn">
            <img src="~/img/image/vertical/vertical (2).jpg " class="img-fluid img-haberler" alt="">
            <h5 class="font-weight-bold">BLOG NASIL YAZILIR?</h5>
            <p class="text-muted">Blog Detayları</p>
            <a href="#" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-4 col-md-6 text-center mx-auto pb-5 wow zoomIn">
            <img src="~/img/image/blog/karadelik.jpg" class="img-fluid img-haberler" alt="">
            <h5 class="font-weight-bold">KARADELİK ARAŞTIRMALARINDA GELİNEN SON NOKTA</h5>
            <p class="text-muted">Blog Detayları</p>
            <a href="#" class="btn btn-info">Detaylar</a>
        </div>
    </div>
</section>