<section class="kalite text-center">
    <div class="row mt-5">
        <div class="col-lg-12">
            <img class="w-100 img-fluid wow zoomIn" src="~/img/newbanner.png" alt="">
        </div>
    </div>
    <div class="col-lg-12" style="text-align: center">
        <div class="icerik pt-3">
            <h2 class="font-weight-bold mt-2 mb-4 wow fadeInRight">BİRBİRİNDEN GÜZEL NOTEBOOK ÇEŞİTLERİYLE BLOG YAZMAYI AŞILAMAK İÇİN BURADAYIZ.</h2>
        </div>
    </div>
</section>
<section id="urunler" class="py-5">
    <div class="row py-5">
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/01.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/02.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/03.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/04.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/05.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/06.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/07.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mx-auto wow zoomIn">
            <img src="~/img/urunler/08.jpg" class="img-fluid" alt="">
            <h5 class="">NOTEBOOK</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="urunDetay.html" class="btn btn-info">Detaylar</a>
        </div>
    </div>
</section>