<section class="kalite text-center">
    <div class="row mt-5">
        <div class="col-lg-12">
            <img class="w-100 img-fluid wow zoomIn" src="img/newbanner.png" alt="">
            <img src="~/img/kalite.png" class="kalite-img img-fluid wow fadeInDownBig" alt="">
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-12">
            <h3 class="text-uppercase font-weight-bold pt-3 pb-2 wow fadeInLeft">VİZYONUMUZ</h3>
            <p class="text-muted pb-2 wow fadeInRight">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maiores ducimus
                illum enim, pariatur, sapiente unde quaerat odio dolores laudantium tempora repellat nulla,
                excepturi dolorum! Reiciendis quidem laboriosam provident quas.Reiciendis quidem laboriosam provident quas.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-uppercase font-weight-bold pt-3 pb-2 wow fadeInLeft">MİSYONUMUZ</h3>
            <p class="text-muted pb-2 wow fadeInRight">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maiores ducimus
                illum enim, pariatur, sapiente unde quaerat odio dolores laudantium tempora repellat nulla,
                excepturi dolorum! Reiciendis quidem laboriosam provident quas.Reiciendis quidem laboriosam provident quas.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-uppercase font-weight-bold pt-3 pb-2 wow fadeInLeft">TEMEL HEDEFİMİZ</h3>
            <p class="text-muted pb-2 wow fadeInRight">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maiores ducimus
                illum enim, pariatur, sapiente unde quaerat odio dolores laudantium tempora repellat nulla,
                excepturi dolorum! Reiciendis quidem laboriosam provident quas. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nisi officia nemo minus? Dolores suscipit iusto accusamus, fugit repellat corporis voluptatem blanditiis reiciendis id vero accusantium impedit, quas cum! Numquam.
            </p>
        </div>
    </div>
</section>