
<section id="hakkimizda" class="my-5">
    <div class="row">
        <div class="col-lg-5">
            <img src="~/img/newbanner.png" class="img-fluid wow fadeInLeft" alt="">
        </div>
        <div class="col-lg-7">
            <h1 class="py-5 pl-5 wow fadeInRight">HAKKIMIZDA</h1>
            <p class="about-content text-muted pl-2 wow fadeInRight" data-wow-duration="2s">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quasi iste corrupti modi? At optio corporis tenetur ex laudantium nobis fugiat blanditiis omnis totam provident culpa, aperiam harum modi commodi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quisquam officiis consequuntur natus inventore adipisci eius, praesentium magni expedita ad deleniti voluptatum hic facilis. Explicabo illo ducimus eum commodi ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam unde vel non corrupti minima itaque sunt fugit, facilis, quas perspiciatis nemo molestias dolore voluptas error aut alias perferendis delectus mollitia!</p>
        </div>
    </div>
</section>